/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,500,600,700,800&display=swap');

/* homepage start */
input {
    max-width: 150px;
}

* {
    color: black;
    font-family: 'Poppins', sans-serif;
}

.navHeader>a {
    text-decoration: none;
}

.container {
    max-width: none;
    padding-left: 0%;
    padding-right: 0%;
}

#nav-list a {
    color: black;
    text-align: center;
    font-size: 18px;
}
#navbarSupportedContent {
    justify-content: space-evenly;
}
header {
    border-bottom: 1px solid black;
}

#header-nav {
    background-color: #e6dfdf;
}

li a {
    border-top: 1px black solid;
}



.logo-photo {
    margin-top: 14px;
    background: url('../images/logo-icon.png');
    background-size: contain;
    height: 140px;
    width: 140px;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.review-class p{
    font-family: 'Rajdhani', sans-serif;
}

.review-class h1 {
    padding-bottom: 0px;
    font-size: 50px;
}

.review-class {
    text-align: center;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.custom-toggler.navbar-toggler {
    border: 1px solid black;
}

#main-content {
    margin-top: 20px;
}

#main-carousel {
    margin-bottom: 20px;
}

.carousel-inner>.carousel-item>img {
    height: 100%;
}

#catalog-tile:hover, #sale-tile:hover {
    box-shadow: 0 1px 5px 1px #07485B;
}

#sale-tile {
    background: url(../images/jfjf.jpg) no-repeat center;
    height: 400px;
    background-size: cover;
    margin-bottom: 20px;
}

#catalog-tile {
    background: url(../images/bb.jpg) no-repeat center;
    height: 400px;
    background-size: cover;
    margin-bottom: 20px;
}

#catalog-tile, #sale-tile {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#catalog-tile span, #sale-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    color: aliceblue;
    opacity: .8;
    text-transform: uppercase;
    background-color: black;
    font-size: 25px;
}

.button {
    margin-left: 10px;
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    color: #212121;
    font-size: 28px;
    font-weight: 600;
    transition: 0.4s;
}

.button-1 {
    color: black;
    border: 3px solid black;
    ;
    background-color: white;
    ;
}

.button-1:hover {
    color: #fff;
    background-color: black;
    ;
}


.review-photo {
    margin-bottom: 10px;
    border-radius: 50%;
}

.carousel-item h3 {
    display: inline-block;
}

.carousel-inner {
    background-color: #e6dfdf;
}

.carousel-indicators {
    margin-bottom: 0px;
}

.carousel .carousel-item {
    min-height: 90px;
}

.carousel-control-prev, .carousel-control-next {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    background-color: black;
}

.btn:hover {
    background-color: #2ceae5;
    transform: translateY(-7px);
    color: #fff;
    box-shadow: 0px 10px 25px;
}

@media (min-width: 768px) and (max-width: 991px) {
    #sale-tile {
        background: url(../images/d1.jpg) no-repeat center;
        height: 400px;
        background-size: auto;
        margin-bottom: 20px;
    }

}


@media (max-width: 575px) {
    #sale-tile {
        background: url(../images/d1.jpg) no-repeat center;
        height: 400px;
        background-size: auto;
        margin-bottom: 20px;
    }

}


@media(max-width: 767px) {


.navHeader h1{
    margin-left: 15px;
    letter-spacing: 0px;
}

    .btn {
        position: relative;
        top: 10px;
        background-color: #c8f2ff;
        width: 150px;
        height: 50px;
        border-radius: 45px;
        cursor: pointer;
        border: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
        box-shadow: 0px 10px 25px;
        transition: all 0.3s ease;
    }

}

@media(min-width: 768px) {
    .btn {
        position: relative;
        bottom: 10px;
        background-color: #c8f2ff;
        width: 200px;
        height: 60px;
        border-radius: 45px;
        cursor: pointer;
        border: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
        box-shadow: 0px 10px 25px;
        transition: all 0.3s ease;
    }

}

/* homepage end */


/* categorie start */
* {
    box-sizing: border-box;
}


body {
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: white;
}

a {
    color: #1f1f1f;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 35px;
    letter-spacing: 5px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 18px;
}




.titlepage {
    text-align: center;
    padding-bottom: 60px;
}

.titlepage h2 {
    font-size: 40px;
    color: #090807;
    line-height: 55px;
    font-weight: bold;
    padding: 0;
    text-transform: uppercase;
    border-bottom: #48ca95 solid 1px;
    max-width: 450px;
    margin: auto;
}

.categories {
    margin-top: 10px;
    background: #f7f7f7;
    padding: 40px 0 40px 0;
}

.our_categories {
    padding: 50px 0;
}

.our_categories .categorie_box {
    text-align: center;
}


.our_categories .categorie_box a {
    display: block;
    text-decoration: none;
    width: 200px;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    background-color: #252525;
    font-weight: 500;
    margin: 0 auto;
    padding: 10px 0;
    margin-top: 40px;
    transition: ease-in all 0.5s;
}

.our_categories .categorie_box a:hover {
    background: #48ca95;
    transition: ease-in all 0.5s;
}

.margin_bottom1 {
    margin-bottom: 90px;
}

.margin_bottom2 {
    margin-bottom: 20px;
}

/* categories end */



/* catalog start */

.card .description{
    overflow-y: scroll;
    height: 200px;
}

#catalog-categories-title {
    margin-bottom: 20px;
}

.our_catalog {
    margin-top: 50px;
}

.our_catalog_box {
    margin-bottom: 50px;
}

.our_catalog_box img {
    margin-top: 30px;
}

.card-footer {
    position: relative;
}

.price {
    color: rgb(181, 7, 7);
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.bi {
    font-size: 20px;
    color: rgb(181, 7, 7);
}

.description {
    font-size: 15px;
    font-style: italic;

}

.price {
    margin: 0;
}

.inStock {
    font-size: 15px;
    text-align: center;
    color: rgb(67, 65, 65);
    padding: 0;
    margin: 0;
}

.card {
    background-color: rgb(172, 206, 232);
}

.card img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.card-header {
    background-color: cadetblue;
}

.card-header h3 {
    font-size: 20px;
}


/* catalog end */


/* footer start */

.footer {
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 115px;
    text-align: center;
}

.footer .titlepage {
    text-align: left;
    padding-bottom: 0px;
}

.user {
    font-size: 34px;
    margin-top: 50px;
    color: white;
}

.footer .titlepage h2 {
    color: #fff;
    margin: inherit;
    border-bottom: #fff solid 1px;
}

.logo1 {
    float: left;
    margin-top:  -55px;
    margin-left: 35px;
}

ul {
    list-style: none;
}

ul.social_icon {
    padding-top: 37px;
    width: 100%;
    float: left;
    text-align: left;
}

ul.social_icon li {
    display: inline-block;
}

ul.social_icon li a {
    background: #ffffff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 30px;
    margin: 0 3px;
}

ul.social_icon li a:hover {
    background-color: gray;
    color: #fff;
}

.footer h3 {
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    text-align: left;
    color: #fff;
    padding-bottom: 15px;
    padding-left: 31px;
}

.about_us li {
    color: #fff;
    font-size: 17px;
    text-align: left;

}

.conta li {
    color: #fff;
    font-size: 17px;
    text-align: left;
}

.bottom_form h3 {
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    text-align: left;
    color: #fff;
    padding-bottom: 15px;
}

.bottom_form .enter {
    border: inherit;
    padding: 0px 19px;
    width: 100%;
    height: 45px;
    background: #fffffff2;
    color: #ccc8c8;
    font-size: 17px;
    font-weight: 600;
    float: left;
    border-radius: 10px;
    margin-bottom: 20px;
}

.sub_btn {
    font-size: 17px;
    transition: ease-in all 0.5s;
    background-color: #48ca95;
    color: #fff;
    padding: 10px 0px;
    max-width: 147px;
    border-radius: 10px;
    width: 100%;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
}

.sub_btn:hover {
    background-color: #000;
    transition: ease-in all 0.5s;
    color: #fff;
}

.copyright {
    margin-top: 80px;
    padding-bottom: 20px;
}

.copyright p {
    color: #ddd;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-top: #ddd solid 1px;
    padding-top: 25px;
    font-weight: normal;
}

.copyright a {
    color: #ddd;
}

.copyright a:hover {
    color: gray;
}

/* footer end */